
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
}

.main{
    width: 70%;
    margin: auto;
}

h3{
    text-align: center;
}