#bigbanner
>img{
    width: 100%;
    height: 100%;
}
#label{
    width:100%;
    
    }
    #label>img{
        width: 100%;
        height: 100%;
    }
#bigbox1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid black;
}
#bigbox1>div>img{
    width: 100%;
    height: 100%;
}

#Bigbox2{
    display: flex;
  border:1px solid green;
}
#Bigbox2>div>img{
    width: 100%;
    height: 100%;
}
#bigbox3{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
#bigbox3>div>img{
    width: 100%;
    height: 100%;
}
#Bigbox4{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
#Bigbox4>div>img{
    width: 100%;
    height: 100%;
}
#navbar{
    margin-top: 20px;
}